@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&display=swap');
body {
  height: 100vh;
}
.crete-font {
  font-family: 'Crete Round', serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;  
}

.navbar {
  background-color: #3c3a39;
  color: #fff;
  font-weight: 700;
}

.navbar .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  border-bottom: 2px solid #fff5e1;
}

.jumbotron {
  background-image: url("assets/images/35504149.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  background-color: #1C1A19;
}

.jumbotron h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  font-weight: normal;
}

.jumbotron h2 {
  color:#fff5e1;
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.jumbotron {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 100vh;

}

.jumbotron img {
  position: absolute;
  right: 0;
  top: 180px;
}

.fab, .fa {
  color: #fff5e1;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

#portfolio .heading {
  margin: 50px 10px;
  padding-bottom: 20px;
  font-family: 'Crete Round', serif;
  font-size: 40px;
  font-weight: 400;
  color: #1c1a19;
  border-bottom: 1px solid #c0c0c0;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  width: 100%;
}

.box {
  color: #fff;
  position: relative;
  font-size: 150%;
  height: 300px;
  margin-left: 0;
  margin-right: 0;
  background: linear-gradient(
    rgba(0, 0, 0),
    rgba(0, 0, 0));
}

.lifestyle::before {
  background-image: url('./images/herokuapp.com.jpg');
}

.school::before {
  background-image: url('./images/githack.com (1).jpg');
}

.box::before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
}

.box h1, .box p{
  color: #fff;
  position: relative;
  top: 15%;
  left: 2%;
  z-index: 1;
  display: inline-block;
}

.box p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.box .show-project {
  position: relative;
  top: 270px;
  width: 100%;
  border-radius: 0;
  background-color: #ff6b00;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about-me{
  margin-top: 20px;
  background-color: #1c1a19;
}

.about-me h1 {
  color: #ff6b00;
  font-size: 60px;
  line-height: 88px;
}

.about-me p {
  color: #fff;
  line-height: 24px;
}

.about-me .show-resume {
  border-radius: 0;
  background-color: #ff6b00;
  border: 0;
  margin-left: 27px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 27px;
}

.about-me img {
  position: relative;
  right: 0;
  left: 50%;
  top: 100%;
  margin-top: -50px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  color: #fff;
  border-top: 1px solid #c0c0c0;
  padding-top: 80px;
}

.about-grid .list-head {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about-grid li {
  line-height: 44px;
  font-size: 22px;
}

.about-grid li img {
  position: relative;
  left: -10px;
  width: 18px;
  height: 18px;
  vertical-align: center;
}

.about-grid .list1 img{
  width: 25px;
  height: 25px;
}

.about-grid .list3 img{
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1024px) {
  .navbar-nav .nav-link {
    border: 0;
  }

  .grid {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }

}